body {
    min-width: 1200px;
    background-color: #f7f7f5;
    font: 14px/1.5 "Microsoft Yahei",Arial;
    
}


//主要内容
#content{
    min-width: 1200px;    
    //轮播图
    .banner {      
        width: 100%;
        margin: 0 auto;      
        margin-bottom: 10px;
        font-size: 0;
        .active{
            height: 10px !important;
        }
        .img-list {
            width: 100%;
            // left: -4800px;
            position: relative;
            overflow: hidden;
            >li:first-child {
                margin-left: 0;
            }
            >li {
                position: relative;
                left: -520px;
                float: left;
                margin-left: -100%;
                width: 100%;
                height: 523px;
                background: #fff center center no-repeat;
                opacity: 0;
                li>.box {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    // width: 2560px;
                    height: 523px;
                    // margin-left: -1280px;
                    .structure-module {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        .sm-wrapper {
                            width: 100%;
                            display: block;
                            margin: 0 auto;
                            img {
                                // margin-left: -300px;
                                position: absolute;
                                left: -300px;
                                display: block;
                                margin:0 auto;
                                min-height: 200px;
                            }
                        }
                    }
                }
            }
            img {
                vertical-align: top;
                // min-width: 2560px;
                height: 523px;
            }
            .current {
                position: relative;
                z-index: 1;
                background-color: rgba(221,221,221,.7);
                opacity: 1;
            }
        }

        //轮播图下方的进度条
        .thumb-list {
            margin-top: -25px;
            height: 25px;
            line-height: 5px;
            text-align: center;
            li {
                background-color: rgba(255,255,255,.7);
                position: relative;
                z-index: 3;
                height: 3px;
                cursor: pointer;
                display: inline-block;
                vertical-align: bottom;
                margin: 0 5px;
                width: 42px;
                // background-color: #ebebeb;
            }
        }

    }
    .bannerList{
        width: 940px;
		position: absolute;
		top: 125px;
		left: 150px;
		z-index: 10;
		nav{
			padding:35px 0px;
			width: 200px;
			background-color: rgba(255,255,255,0.7);
			// position: absolute;
			li{
				// width: 200px;
				a{
					display: flex;
					justify-content: space-between;
                    padding: 20px 30px 18px 33px;
                    color: #000;
				}
				:hover{
					background-color: white;
				}
			}
		}
		aside{
			position: absolute;
			top: 0px;
			left: 210px;
			background-color: white;
			width: 750px;
			height: 420px;
			display: none;
			z-index: 11;
			box-sizing: content-box;
			padding: 17px 50px 47px 17px;
			header{
				display: flex;
				justify-content: space-between;
				line-height: 38px;
				span:last-child{
					font-size: 12px;
					color: #999999;
				}
				}
				.classList1{
					display: flex;
					flex-wrap: wrap;
					border-bottom: 1px solid #ccc;
					padding-bottom: 18px;
					li{
						margin-right: 35px;
						width: 100px;
						border-radius: 10px;
						margin-top: 11px;
						background: url(../images/back1.jpg) no-repeat;
						background-size:160px 50px;
						text-align: right;
						line-height: 50px;
						box-sizing: content-box;
						padding-right: 60px;
						position: relative;
						span{
							display: none;
							width: 160px;
							height: 50px;
							background-color: rgba(0,0,0,0.1);
							position: absolute;
							left: 0;
							top: 0;
							border-radius: 10px;
						}
					}
					:nth-child(4n){
						margin-right: 0px;
					}
			}
			.classList2{
				display: flex;
				flex-wrap: wrap;
				
				padding-top: 26px;
				li{
					width: 230px;
					margin-right: 30px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 20px;
					height: 45px;
					img{
						height: 45px;
						margin-right: 10px;
					}
				}
				:nth-child(3n){
					margin-right: 0px;
				}
			}
		}
    }

    .wrapper {
        position: relative;
        width: 1200px;
        margin: 0 auto;
         //活动商品
        .floor-list {
            padding-bottom: 40px;
            .fp{
                height: 160px !important;
                .box-list{
                    // width: 293px !important;
                    height: 150px !important;
                    .box{
                        width: 293px !important;
                        height: 140px !important;
                        a{
                            width: 293px !important;
                            height: 140px !important;
                            >img {
                                width: 100% !important;
                                height: 140px !important;
                                margin-top: 0 !important;
                            }
                        }
                        
                    }
                }
                
            }
        }
        
        //抢购区域
        .J_promotion-container{        
            position: relative;
            .info {
                position: relative;
                .rush-title {               
                    display: flex;
                    align-items: center;
                    padding-bottom: 25px;
                    .rush-logo {
                        width: 82px;
                        height: 26px;
                    }
                    .count-down {
                        margin-left: 10px;
                        font-size: 16px;
                        color: #999;
                        .time {
                            display: inline-block;                       
                            border-radius: 3px;
                            width: 38px;
                            height: 32px;
                            line-height: 32px;
                            text-align: center;
                            background-color: #EC0404;
                            font-size: 18px;
                            color: #fff;
                            margin: 0 6px;
                        }
                    }
                }
                .more-wrapper {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    li{
                        float: left;
                        a {
                            margin-left: 22px;
                            color: #333;
                            font-size: 14px;
                            line-height: 1;
                        }
                    }
                }
            }
            .btn-page {
                position: absolute;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;           
                border-radius: 50%;
                border: 1px solid #A4A4A4;
                top: 50%;    
                left: -50px;       
                transform: translateY(-50%);
                .iconshop {
                    font-family: iconshop!important;
                    font-size: 16px;
                    font-style: normal;            
                }
                
            }
            .next {
                left: 1220px !important;
                // right: -50px;
            }
            .swiper-container {
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                z-index: 1;
                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;                   
                    display: flex;
                    transition-property: transform;
                    box-sizing: content-box;
                    .box {
                        width: 292.5px !important;
                        height: 380px !important;
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        margin-bottom: 10px;
                        margin-right: 10px;
                        font-size: 0;
                        text-align: center;
                        background-color: #fff;                      
                        transition: all .2s linear;
                        .corner-img {
                            position: absolute;
                            right: 50px;
                            top: 28px;
                            z-index: 1;
                            width: 60px;
                            height: 60px;
                        }
                        >a {
                            display: block;
                            width: 292.5px !important;
                            // height: 380px !important;
                            .prod-img {
                                width: 172px;
                                height: 172px;
                                margin-top: 41px;
                                position: relative;
                                vertical-align: top;
                            }
                        }
                        .prod-info {
                            padding: 0 20px;
                            p{
                                text-align: center;
                            }
                            .name{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding-top: 16px;
                                color: #333;
                                font-size: 16px;
                                line-height: 30px;
                            }
                            .desc {
                                line-height: 17px;
                                height: 17px;
                                margin-top: 10px;
                                font-size: 12px;
                                color: #333;
                                white-space: nowrap;
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                            }
                            .price {
                                margin-top: 20px;
                                font-size: 22px;
                                color: #f51919;
                                font-size: 16px;
                                line-height: 1;
                                dfn {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                                .disabled {
                                    margin-left: 6px;
                                    text-decoration: line-through;
                                    color: #aaa;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //热卖专区
        .floor-list{
            width: 1200px;
            li {
                display: list-item;
                text-align: -webkit-match-parent;
                .info {
                    position: relative;
                    .subject {
                        padding: 38px 0 25px;
                        color: #333;
                        font-size: 24px;
                        line-height: 1;
                        text-align: center;
                    }
                }
                .box-list {
                    display: inline-block;
                    // display: flex;
                    // justify-content: space-between;
                    width: 100%;
                    line-height: 0;
                    text-align: justify;
                    .box {
                        width: 394px;
                        height: 511px;
                        position: relative;
                        transition: 0.5s;
                        top: 0px;
                        display: inline-block;
                        vertical-align: top;
                        margin-bottom: 10px;
                        // margin-right: 9px;
                        font-size: 0;
                        text-align: center;
                        background-color: #fff;
                        transition: all .2s linear;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        >a {
                            display: block;
                            >img {
                                position: relative;
                                vertical-align: top;
                                margin-top: 58px;
                                width: 230px;
                                height: 230px;
                            }
                        }
                        .color-wrapper {
                            position: absolute;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            font-size: 0;
                            text-align: center;
                            background-color: #fff;
                            .name {
                                padding-top: 29px;
                                font-size: 20px;
                                white-space: nowrap;
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                color: #333;
                                line-height: 30px;
                            }
                        }
                        .prodinfo {
                            position: relative;
                            .name {
                                padding-top: 29px;
                                font-size: 20px;
                                white-space: nowrap;
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                color: #333;
                                line-height: 30px;
                            }
                            .feature {
                                padding: 8px 50px 53px;
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                height: 24px;
                                color: #333;
                                line-height: 24px;
                            }
                            .price {
                                font-size: 18px;
                                color: #f51919;
                                line-height: 1;
                            }
                            .rmb-symbol:before {
                                content: "\00a5";
                                margin-right: 2px;
                                color: #f51919;
                                font-size: 14px;
                                font-family: "Avenir Roman","Microsoft YaHei","微软雅黑";
                            }
                        }
                        &:hover{
                            /* 用定位解决向上移动了一点点，有种立体的感觉 */
                            top: -2px;
                            box-shadow: -4px 4px 10px #ccc ,2px 4px 10px #ccc;
                        }
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
            .c_3{
                .box{
                    margin-right: 9px !important;
                    &:last-of-type{
                        margin-right: 0px !important;
                    }
                }
            }
            .pc_6,.c_8{
                .box{
                    width: 293px !important;
                    height: 380px !important;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 10px;
                    // margin-right: 6.5px !important;
                    font-size: 0;
                    text-align: center;
                    background-color: #fff;
                    transition: all .2s linear;
                    >a>img{
                        margin-top: 43px !important;
                        width: 172px !important;
                        height: 172px !important;
                    }
                }
                
                .box:last-of-type{
                    margin-right: 0px !important;
                }
                .name{
                    font-size: 16px !important;
                }
                .feature{
                    font-size: 12px !important;
                }
                .price{
                    font-size: 16px !important;
                }
            }
            .pc_6 .box:first-child {
                width: 594px !important;
                // height: 380px !important;
                &:first-child>a>img {
                    width: 100% !important;
                    height: 380px !important;
                    margin: 0 !important;
                    width: 100%;
                    position: relative;
                    vertical-align: top;
                }
            }
            .c_8{
                .more-wrapper {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    li{
                        float: left;
                        a {
                            margin-left: 22px;
                            color: #333;
                            font-size: 14px;
                            line-height: 1;
                            float: left;
                            &:hover{
                                color: red !important;
                            }
                        }
                    }
                }
                i{
                    font-size: 11px;
                }
            }
            
        }

    }
}


